<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Avaliações</title>
</head>
<body>
    <table border="2">
       <thead>
        <tr>
           <th>texto</th>
           <th>polaridade</th>
           <th>sentimento</th>
        </tr>
       </thead>
       <tbody>
        <tr>
           <td>Hoje não entendi o table. Foi muito ruim.</td>
           <td>-0.78</td>
           <td>😡</td>
        </tr>
        <tr>
            <td>Hoje entendi o table. Foi muito bom.</td>
            <td>0.95</td>
            <td>😁</td>
         </tr>
         <tr>
            <td>O table é muito importante</td>
            <td>0</td>
            <td>😑</td>
         </tr>
       </tbody>
    </table>  
</body>
</html>